<h1>Welcome to Juan's List</h1>
<div class="container">
  Create your post!
  <form action="/posts" method="post">
    TItle <input type="text" name="title"><br>
    Description<input type="text" name="description">
    Price<input type="text" name="price">
    Contact<input type="text" name="contact">
    <select name="category" >
      <option value="1">Cars</option>
      <option value="2">Household Items</option>
      <option value="3">Books</option>
    </select>
    <input type="submit" value="make new post">
  </form>
  <h1><%= @hash["title"] %></h1>
</div>
